<div class="container m-4">
  <h1>All our flats (<%= @flats.length %>)</h1>
    <% @flats.each do |f| %>
      <%= link_to flat_path(f) do %>
      <h3><%= f.name %></h3>
      <p><%= f.address %></p>
      <p>
       <i class="fa-solid fa-people-group"></i> <%= f.number_of_guests %> 
       <i class="fa-solid fa-euro-sign"></i> <%= f.price_per_night %> 
      </p>
      <% end %>
   <% end %> 
  </div>
</div>



<%# 
price_per_night: 75,
number_of_guests: 3, %>