<div class="flats border">
 <ul>
<h3><%= @flat.name %></h3>
<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><i class="fa-solid fa-people-group"></i> <%= @flat.number_of_guests %> <i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %> </p>
 </ul>
</div>